# Structure of the database.config file:
#   Every key and it's value is separated by a '='
#   Every key value pair is separated by a line terminator
#   "root" key represents root database directory
#   "root" key's value represents it's directory path
#   Lines starting with '#' are ignored
root = database
